:root {
	font-size: 8px;
}

*,
:after,
:before {
	box-sizing: border-box;
}

body {
  font-family: 'TH-Chara';
	margin: 0;
	overflow-y: scroll;
}


@for $i from 1 through 6 {
	h#{$i} {
		font-family: 'FC Minimal';
	}
}
