@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	font-size: 8px;
}

*,
:after,
:before {
	box-sizing: border-box;
}

body {
  font-family: 'TH-Chara';
	margin: 0;
	overflow-y: scroll;
}


@for $i from 1 through 6 {
	h#{$i} {
		font-family: 'FC Minimal';
	}
}
