@font-face {
	font-family: 'FC Minimal';
	src: local('FC Minimal Regular'), local('FCMinimalRegular'),
		url('../assets/fonts/fc-minimal/FCMinimalRegular.woff2') format('woff2'),
		url('../assets/fonts/fc-minimal/FCMinimalRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'FC Minimal';
	src: local('FC Minimal Italic'), local('FCMinimalItalic'),
		url('../assets/fonts/fc-minimal/FCMinimalItalic.woff2') format('woff2'),
		url('../assets/fonts/fc-minimal/FCMinimalItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'FC Minimal';
	src: local('FC Minimal Bold'), local('FCMinimalBold'),
		url('../assets/fonts/fc-minimal/FCMinimalBold.woff2') format('woff2'),
		url('../assets/fonts/fc-minimal/FCMinimalBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'FC Minimal';
	src: local('FC Minimal Bold Italic'), local('FCMinimalBoldItalic'),
		url('../assets/fonts/fc-minimal/FCMinimalBoldItalic.woff2')
			format('woff2'),
		url('../assets/fonts/fc-minimal/FCMinimalBoldItalic.woff')
			format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
    font-family: 'CmPrasanmit';
    src: local('CmPrasanmit Bold Italic'), local('CmPrasanmit-BoldItalic'),
        url('../assets/fonts/cm-prasanmit/CmPrasanmit-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/cm-prasanmit/CmPrasanmit-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CmPrasanmit';
    src: local('CmPrasanmit Italic'), local('CmPrasanmit-Italic'),
        url('../assets/fonts/cm-prasanmit/CmPrasanmit-Italic.woff2') format('woff2'),
        url('../assets/fonts/cm-prasanmit/CmPrasanmit-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CmPrasanmit';
    src: local('CmPrasanmit'),
        url('../assets/fonts/cm-prasanmit/CmPrasanmit.woff2') format('woff2'),
        url('../assets/fonts/cm-prasanmit/CmPrasanmit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CmPrasanmit';
    src: local('CmPrasanmit Bold'), local('CmPrasanmit-Bold'),
        url('../assets/fonts/cm-prasanmit/CmPrasanmit-Bold.woff2') format('woff2'),
        url('../assets/fonts/cm-prasanmit/CmPrasanmit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
